<div ng-show="getCurrentSong()">
<div class="panel-heading">Now Playing: {{getCurrentSong().name}}</div>
  <div class="pull-left">
    <button class="btn btn-default" ng-click="previous()">
      <span class="glyphicon glyphicon-step-backward"></span>
    </button>
    <button class="btn btn-default" ng-click="toggle()">
      <span class="glyphicon" ng-class="{'glyphicon-pause': isPlaying(), 'glyphicon-play': !isPlaying()}"></span>
    </button>
    <button class="btn btn-default" ng-click="next()">
      <span class="glyphicon glyphicon-step-forward"></span>
    </button>
  </div>
  <div class="bar" >
 <div scrubber-bar class="progress">
      <div id="progress_id" class="progress-bar" ng-style="{width: getPercent() + '%'}"></div>      
    </div>
</div>

  
</div>